*{
  margin: 0;
  padding: 0;
}

body{
  background: #F8F9FE;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.temp-box{

  display: inline-block;
}
.selected-device{
  margin-top: 10px;
  font-size: 16px;
  color: white;
}
.no-device-message{
  padding: 60px 0 0 0;
  text-align: center;
  width: 100%;
  color: white;
}
.weather-icon{
  display: inline-block;
  margin: 0 0 0 30px;
  height: 50px;
}
.arrow-icon{
  display: block;
  float: left;
  margin-top: 10px;
  margin-right: 50px;
  height: 40px;

}
.wind-box{
  display: block;
  float: left;
}
.font-1{
  font-size: 64px;
  font-weight: 900;
}
.font-2{
  font-size: 52px;
  font-weight: 900;
}
.font-3{
  position: relative;
  z-index: 2;
  font-size: 46px;
  font-weight: 900;
}
.font-4{
  font-size: 38px;
  font-weight: 900;
}
.font-standard{
  font-size: 20px;
}
.row{
  padding: 0;
  margin: 0;
}
.col{
  padding: 0;
  padding: 0;
}
.col-2{
  padding: 0;
}
.col-4{
  padding: 0;
}
.col-5{
  padding: 0;
}
.col-6{
  padding: 0;
}
.col-7{
  padding: 0;
}
.col-8{
  padding: 0;
}
.container-fluid{
  padding: 0;
}
.container{
  padding: 0 40px;
  transition: all 0.3s ease-out;
}
.pad-40{
  padding: 0 40px;
}
.margin-top-s{
  margin-top: 10px;
}
.margin-top-m{
  margin-top: 30px;
}
.margin-top-l{
  margin-top: 50px;
}
#live-device-data-list{
  width: 100%;
}
/* Navbar START */
#logo{
  position: absolute;
  left: 0;
  top: 0;
}
#logo img{
  height: 80px;
  padding: 15px;
}
#navbar{
  position: relative;
  width: 100%;
  height: 80px;
  background: white;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}
.inline-left{
  display: inline-block;
  float: left;
}
.no-default-link{
  color: black;
}
.nav-button-list{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
.nav-button-wrapper:hover .nav-button{
  color: #5265E1;
}
.nav-button{
  line-height: 80px;
  padding: 0 10px;
  margin-right: 40px;
  font-size: 20px;
  font-weight: bold;
  transition: all ease-out 0.15s;
}
.nav-button-active{
  border-bottom: 4px solid #5265E1;
}
.no-default-link:hover{
  text-decoration: none;
  color: black;
}
/* Navbar END */

.blue-bg{
  background: #5265E1;
}
.blue-bg-padding{
  background: #5265E1;
  padding: 40px;
  margin-bottom: 40px;
}
.blue-bg-padding-left{
  padding: 30px 20px 30px 40px;
}
.blue-bg-padding-right{
  padding: 30px 40px 30px 20px;
}
.device-select{
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
}
.device-select option{
  color: #5265E1;
}
.device-select:focus{
  outline: none;
}
.live-device{
  display: inline-block;
  float: left;
  width: 100%;
  margin-top: 30px;
  color: white;
}
.live-device span{
  font-size: 16px;
  width: 100%;
}
.live-device p{
  width: 100%;
  font-size: 32px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  line-height: 40px;
}
.white-text{
  color: white;
}
#unassigned-device-list{
  width: 100%;
}
#unassigned-device-list h1{
  margin-top: 30px;
  color: white;
}
.unassigned-device-list-row{
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
}
.device{
  display: inline-block;
  float: left;
  width: 300px;
  background: white;
  height: 160px;
  margin: 20px 40px 50px 0;
}
.device h3{
  display: inline-block;
  float: left;
  width: 100%;
}

.card{
  border-radius: 6px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  padding: 10px;
}
.card-pad{
  padding: 20px;
}
.card-pad-lr{
  padding: 0 20px;
}
.card-pad-lr h4{
  padding: 0;
  margin: 4px 0;
}
.card-pad-lr p{
  padding: 0;
  margin: 4px 0;
}

.group-list{
  width: 100%;
}
.group-row{
  width: 100%;
  position: relative;
  display: inline-block;
  float: left;
}
.group-row-10{
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  width: calc(100% - 50px);
  height: 100%;
  opacity: 0.2;
}
.group-row h2{
  margin-top: 30px;
}
.group-tab-color{
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
}

#create-group{
  position: relative;
  height: 80px;
  padding: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  transition: all 0.3s ease-out;
  color: lightgrey;
  font-size: 16px;
}
#create-group h3{
  text-align: center;
  color: black;
}
#create-group input::placeholder{
  color: lightgrey;
}
#create-group input:hover{
  border-color: #5265E1;
}
#create-group input:focus{
  border-color: #5265E1;
  outline: none;
}
#create-group input{
  transition: all 0.15s ease-out;
  border: none;
  border-bottom: 2px solid lightgrey;
}
.create-group-active{
  height: 200px !important;
  width: 50% !important;
}
#create-group-button{
  position: absolute;
  right: 0;
  bottom: 0;
}
#create-group p{
  margin: 0;
}
#group-save-button{
  width: 200px;
  margin-top: 20px;
}
.compare-h2{
  text-align: center;
  display: block;
  color: white;
  width: 100%;
  margin-bottom: 40px;
}
#switch-button{
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  border: none;
  background: white;
  border-radius: 8px;
  margin-bottom: 30px;
}
#compare-button{
  display: block;
  margin: 20px auto 0 auto;
  background: white;
  border: none;
  border-radius: 4px;
  padding: 10px 160px;
  color: #5265E1;
  font-weight: 900;
}
.align-pin{
  position: relative;
}
.align-center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.position-bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#weather-data{
  height: 100%;
}
.color-box{
  width: calc(100% - 10px);
  height: 24px;
  display: block;
  border-radius: 2px;
  margin-right: 10px;
  margin-top: 12px;
  box-sizing: border-box;
  transition: all 0.1s ease-out;
  cursor: pointer;
}
.active-color-box{
  height: 36px;
  margin-top: 0px;
}
.color-box:hover{
  margin-top: 4px;
  height: 32px;
}
.red{
  background: #F3445C;
}
.orange{
  background: #FF9A63;
}
.yellow{
  background: #F2E641;
}
.green{
  background: #4BD487;
}
.blue{
  background: #5EBDF3;
}
.purple{
  background: #750DCF;
}
.color-black{
  color: black;
}
.bold-font{
  font-weight: 900;
}
#chart-list{
  width: 100%;

}
.axis-100{
  width: 100%;
}
.chart-card{
  margin-bottom: 40px;
  display: block;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}
.chart-card-content{
  display: block;
  width: 100%;
  background: red;
}
.overview-row{
  display: inline-block;
  float: left;
  margin-bottom: 30px;
  width: 100%;
}
.overview-lower-row{
  display: inline-block;
  float: left;
}
.overview-lower-box{
  display: inline-block;
  float: left;
  margin-right: 40px;
}
#device-overview-chart{
  background: white;
  width: 100%;
  padding: 40px 0;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}
#device-overview-chart h2{
  display: inline-block;
  float: left;
}
.select{
  display: inline-block;
  float: right;
  height: 54px;
  width: 180px;
  text-align: center;
  text-align-last: center;
  margin-left: 20px;
  padding: 10px 24px;
  border-radius: 4px;
  border: 3px solid lightgrey;
  color: lightgrey;
}
.pinned-chart-list{
  margin-top: 60px;
  width: 100%;
  background: #F8F9FE;
}
@media (min-width: 1450px) {
  .container{
    transition: all 0.2s ease-out;
    max-width: 1400px;
  }
}
@media (min-width: 1650px) {
  .container{
    transition: all 0.2s ease-out;
    max-width: 1600px;
  }
}
