*{
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
    width: 0px;
    height: 0px; /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.height-323{
  min-height: 323px;
}
body{
  background: #F8F9FE;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.temp-box{

  display: inline-block;
}
.selected-device{
  margin-top: 10px;
  font-size: 16px;
  color: white;
}
.no-device-message{
  padding: 60px 0 0 0;
  text-align: center;
  width: 100%;
  color: white;
}
.weather-icon{
  display: inline-block;
  height: 50px;
  margin-bottom: 2px;
  margin-right: 10px;
}
.arrow-icon{
  display: block;
  float: left;
  margin-top: 6px;
  margin-left: 0px;
  margin-right: 20px;
  height: 40px;
  transform: rotate(-40deg);

}
.wind-box{
  display: block;
  float: left;
}
.font-1{
  font-size: 64px;
  font-weight: 900;
}
.font-2{
  font-size: 52px;
  font-weight: 900;
}
.font-3{
  position: relative;
  z-index: 2;
  font-size: 46px;
  font-weight: 900;
  margin-top: 10px;
  line-height: 50px;
}
.font-4{
  font-size: 38px;
  font-weight: 900;
}
.font-5{
  font-size: 28px;
  font-weight: 900;
}
.font-standard{
  font-size: 20px;
}
.row{
  padding: 0;
  margin: 0;
}
.col{
  padding: 0;
  padding: 0;
}
.col-1{
  padding: 0;
}
.col-2{
  padding: 0;
}
.col-4{
  padding: 0;
}
.col-5{
  padding: 0;
}
.col-6{
  padding: 0;
}
.col-7{
  padding: 0;
}
.col-8{
  padding: 0;
}
.col-10{
  padding: 0;
}
.container-fluid{
  padding: 0;
}
.container{
  padding: 0 40px;
  transition: all 0.3s ease-out;
}
.pad-40{
  padding: 0 40px;
}
.margin-top-s{
  margin-top: 10px;
}
.margin-top-m{
  margin-top: 30px;
}
.margin-top-l{
  margin-top: 50px;
}
.margin-top-xl{
  margin-top: 120px;
}
#alert-color{
  color: #cc122c;
  width: 100%;
}
#alert-name{
  color: #cc122c;
  width: 100%;
}
#alert-name-used{
  color: #cc122c;
  width: 100%;
}
#spliter{
  display: block;
  height: calc(100% - 90px);
  margin: 45px auto;
  width: 2px;
  background: white;
  border: 1px solid white;
  box-sizing: border-box;
}
#live-device-data-list{
  width: 100%;
}
/* Navbar START */
#logo{
  position: absolute;
  left: 0;
  top: 0;
}
#logo img{
  height: 80px;
  padding: 15px;
}
#navbar{
  position: relative;
  width: 100%;
  height: 80px;
  background: white;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}
.inline-left{
  display: inline-block;
  float: left;
}
.inline-right{
  display: inline-block;
  float: right;
}
.no-default-link{
  color: black;
}
.nav-button-list{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}
.nav-button-wrapper:hover .nav-button{
  color: #5265E1;
}
.nav-button{
  padding: 25px 20px;
  font-size: 20px;
  font-weight: bold;
  transition: all ease-out 0.15s;
}
.nav-button-active{
  border-bottom: 4px solid #5265E1;
}
.no-default-link:hover{
  text-decoration: none;
  color: black;
}
/* Navbar END */

.blue-bg{
  background: #5265E1;
}
.blue-bg-padding{
  background: #5265E1;
  padding: 40px;
  margin-bottom: 40px;
}
.blue-bg-padding-left{
  padding: 30px 20px 30px 40px;
}
.blue-bg-padding-right{
  padding: 30px 40px 30px 20px;
}
.device-select{
  box-sizing: border-box;
  width: 100%;
  background: none;
  border: none;
  margin-bottom: 30px;
  border-bottom: 2px solid white;
  color: white;
}
.device-select option{
  color: #5265E1;
}
.stock-icon{
  margin-right: 8px;
}
.device-select:focus{
  outline: none;
}
.live-device{
  display: inline-block;
  float: left;
  width: 100%;
  margin-top: 30px;
  color: white;
}
.live-device span{
  font-size: 16px;
  width: 100%;
}
.live-device p{
  width: 100%;
  font-size: 32px;
  font-weight: bold;
  padding: 0;
  margin: 0;
  line-height: 40px;
}
.white-text{
  color: white;
}
#unassigned-device-list{
  width: 100%;
}
#unassigned-device-list h1{
  margin-top: 30px;
  color: white;
}

.unassigned-device-list-row{
  width: 5000px;
  overflow: hidden;
  overflow-x: scroll;
}
.device{
  display: inline-block;
  float: left;
  width: 336px;
  background: white;
  min-height: 160px;
  margin: 20px 40px 50px 0;
}
.device:hover{
  cursor: grabbing;
}
.device p{
  margin: 0px;
  margin-left: 4px;
}
.device span{
  font-weight: 900;
}
.card{
  border-radius: 6px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
  padding: 10px;
}
.card-pad{
  padding: 20px;
}
.card-pad-lr{
  padding: 0 20px;
}
.card-pad-lr h4{
  padding: 0;
  margin:0;
}
.card-pad-lr p{
  padding: 2px 0;
  margin:0;
}
.line-color{
  background:  #5265E1;
}
.group-list{
  width: 100%;
}
.group-row{
  position: relative;
  display: inline-block;
  float: left;
  width: 5000px;
  overflow: hidden;
  overflow-x: scroll;
}
.group-row-invis{
  width: 5000px;
  overflow: hidden;
  overflow-x: scroll;
}
.group-row-10{
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0.2;
  width: 5000px;
  overflow: hidden;
  overflow-x: scroll;
}
.group-row h2{
  margin-top: 28px;
  margin-left: 2px;
}
.group-tab-color{
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
}
.group-util-row{
  width: 100%;
}
.group-util-row input{
  margin-top: 19px;
  width: 300px;
}
.dis-off{
  width: 0px !important;
  height:  0px !important;
  margin: 0 !important;
  border: none;
  background: none;
  opacity: 0;
  overflow: hidden;
}

.group-util-item{
  margin-top: 0;
  margin-right: 10px;
  display: inline-block;
}
.text-center{
  text-align: center;
  padding: 30px 0 50px 0;
}
.pulse-time-gap{
  border-radius: 2px;
  animation: pulse 5s infinite;
}
@-webkit-keyframes pulse {
  0% {
      box-shadow: 0 0 0 0 rgb(82, 101, 225, 0);
  }
  25% {
      box-shadow: 0 0 0 6px rgb(82, 101, 225, 0.3);
  }
  60% {
      box-shadow: 0 0 0 0 rgb(82, 101, 225, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgb(82, 101, 225, 0);
  }
}

.no-pad-marg{
 padding: 0 !important;
 margin: 0 !important;
}
#create-group{
  position: relative;
  height: 80px;
  padding: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  transition: all 0.3s ease-out;
  color: lightgrey;
  font-size: 16px;
}
#create-group h3{
  text-align: center;
  color: black;
}
#create-group input::placeholder{
  color: lightgrey;
}
#create-group input:hover{
  border-color: #5265E1;
}
#create-group input:focus{
  border-color: #5265E1;
  outline: none;
}
#create-group input{
  transition: all 0.15s ease-out;
  border: none;
  border-bottom: 2px solid lightgrey;
}
.create-group-active{
  height: auto !important;
  width: 50% !important;
}
#create-group-button{
  position: absolute;
  right: 0;
  bottom: 0;
}
#create-group p{
  margin: 0;
}
#chart-view{
  margin-bottom: 100px;
}
#group-save-button{
  width: 200px;
  margin-top: 20px;
}
.compare-h2{
  text-align: center;
  display: block;
  color: white;
  width: 100%;
  margin-bottom: 40px;
}
#switch-button{
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  border: none;
  background: white;
  border-radius: 8px;
  margin-bottom: 30px;
}
#compare-button{
  display: block;
  margin: 10px auto 0 auto;
  background: white;
  border: none;
  border-radius: 4px;
  padding: 10px 160px;
  color: #5265E1;
  font-weight: 900;
}

.legend-color-box{

  display: block;
  background: black;
  height: 20px;
  width: 20px;
  margin-right: 14px;
}
.legend-box{
  line-height: 20px;
  width: 100%;
}
.align-pin{
  position: relative;
}
.align-center{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.position-bottom{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#weather-data{
  height: 100%;
}
.color-box{
  width: calc(100% - 10px);
  height: 24px;
  display: block;
  border-radius: 2px;
  margin-right: 10px;
  margin-top: 12px;
  box-sizing: border-box;
  transition: all 0.1s ease-out;
  cursor: pointer;
}
.active-color-box{
  height: 36px;
  margin-top: 0px;
}
.color-box:hover{
  margin-top: 4px;
  height: 32px;
}
.delete-btn{
  color: #cc122c;
}
.edit-btn{
  color: #354dea;
}
.red{
  background: #F3445C;
}
.orange{
  background: #FF9A63;
}
.yellow{
  background: #F2E641;
}
.green{
  background: #4BD487;
}
.blue{
  background: #5EBDF3;
}
.purple{
  background: #750DCF;
}
.color-black{
  color: black;
}
.bold-font{
  font-weight: 900;
}
#chart-list{
  width: 100%;

}
.axis-100{
  width: 100%;
}
.opt-group{
  position: relative;
}

.side-bar{
  position: absolute;
  left: 0;
  top: 0;
  height: 10px;
  width: 4px;
  display: block;
  background-color: red;
}
.chart-card{
  margin-bottom: 40px;
  display: block;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}
.chart-card-content{
  display: block;
  width: 100%;
}
.row-button{
  display: inline-block;
  float: right;
  margin-top: 40px;
  margin-left: 20px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.overview-row{
  width: 100%;
}
.overview-lower-row{
  display: inline-block;
  float: left;
}
.overview-lower-box{
  display: inline-block;
  float: left;
  margin-right: 40px;
}
#device-overview-chart{
  background: white;
  width: 100%;
  padding: 40px 0;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}
#device-overview-chart h2{
  display: inline-block;
  float: left;
}
.select{
  display: inline-block;
  height: 54px;
  width: 160px;
  text-align: center;
  text-align-last: center;
  margin-right: 20px;
  border-radius: 4px;
  background: white;
  border: 2px solid #5265E1;
  color: #5265E1;

}
.plus-icon-closed{
  background: white;
  border: none;
  width: 56px;
  height: 56px;
  box-shadow: 1px 3px 8px rgba(0,0,0,0.4);
  border-radius: 50px;
  color: #5265E1;
}
.plus-icon-closed:focus{
  outline: none;
}

.plus-icon-open{
  width: 100%;
  transform: rotate(45deg);
    background: none;
  border: none;
  color: #cc122c;
}
.plus-icon-open:focus{
  outline: none;
}
#group-save-button{
  border: none;
  background: #5265E1;
  color: white;
  font-weight: bold;
  width: 100%;
}
#create-group-button{
  background:
}
#create-group{
  max-width: 700px;
}
.create-group-input{
  width: 100%;
}
.blue-text{
  color: #5265E1;
}
.select:focus{
  outline: none;
}
.color-box-1{
  background: #5265E1;
}
.color-box-2{
  background: #E0BF51;
}
.blue-under{
  border-bottom: 3px solid #5265E1;
}
.orange-under{
  border-bottom: 3px solid #E0BF51;
}
.chevron{
  background: none;
  border: none;
  padding: 10px 16px;
}
.chevron:focus{
  outline: none;
}
.pinned-chart-list{
  margin-top: 60px;
  width: 100%;
  background: #F8F9FE;
}
.pin-button{
  margin-top: 10px;
  height: 30px;
  width: 30px;
  padding-top: 0px;
  padding-left: 1px;
  background: #a3a3a3;
  border: none;
  float: right;
  border-radius: 30px;
  color: white;
}
.pin-button-active{
  background: #5265E1;
}
.weather-data-subrow-box{
  display: inline-block;
  float: left;
  margin-right: 58px;
}
@media (min-width: 1450px) {
  .container{
    transition: all 0.2s ease-out;
    max-width: 1400px;
  }
}
@media (min-width: 1650px) {
  .container{
    transition: all 0.2s ease-out;
    max-width: 1600px;
  }
}
